.todos-list {
    width: 80%;
    margin: auto;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 3px 9px 2px grey;
    background-color: #fff;

    .completion-div,
    .title-div {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    span.heading {
        color: #1a53ff;
        font-weight: bold;
    }

    span.comp {
        display: inline-block;
    }

    img {
        width: 25px;
        height: 25px;
    }

}