<div class="home">
    <div class="home-wrapper">
        <div>
            <h1><span>JSON</span>Placeholder</h1>
        </div>
        <div>
            <p>Angular App</p>
        </div>
        <div class="contents">
            <div class="content" routerLink="/posts" routerLinkActive="active">
                <img src="../../../assets/images/postbox1-svgrepo-com.svg">
                <h3>Posts</h3>

            </div>
            <div class="content">
                <img src="../../../assets/images/album-svgrepo-com.svg">
                <h3>Albums</h3>
            </div>
            <div class="content">
                <img src="../../../assets/images/gui-todo-list-svgrepo-com.svg">
                <h3>Todos</h3>
            </div>
        </div>
    </div>
</div>