.comments-section {
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .left-sidebar {
        width: 45%;
        height: 100%;
        box-shadow: -5px 5px 14px -1px grey;
        border-radius: 10px;
        padding: 30px;
        background-color: #fff;

        .arrow-img {
            width: 40px;
            height: 40px;

            img {
                width: 100%;
            }
        }


        h2 {
            color: #1a53ff;
            font-weight: bold;
            margin: 30px auto 20px;
        }

        .post-btn {
            background-color: #ffcc00;
            padding: 15px 20px;
            margin-top: 30px;
        }

        .edit-window {
            display: flex;
            flex-direction: column;
            padding: 20px;

            input,
            textarea {
                width: 100%;
                margin: 25px auto 25px;
                border-radius: 5px;
                border: 1px solid grey;
                font-size: 18px;
                padding: 20px;
            }

            input {
                height: 35px;
            }

            textarea {
                height: 100px;
            }

            label {
                color: #1a53ff;
                font-weight: bold;
                font-size: 1.5em;
            }

            .close {
                width: 40px;
                height: 40px;
                align-self: flex-end;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }
        }
    }
}


.comments-sidebar {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 3px 1px 3px 2px lightgray;

    .comments {
        width: 100%;
        height: 63%;
        overflow-y: scroll;

        .comment-box {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            background-color: #fff;
            padding: 20px;
            box-shadow: 3px 3px 3px 3px lightgray;

            .comment-contents {
                width: 65%;
            }

        }
    }

    .comment-user {
        width: 60px;
        height: 60px;
        background-image: url('../../../../assets/images/profile_img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .your-comment {
        height: 35%;
        position: relative;

        .grey {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 90%;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            background-color: lightgrey;
            padding: 20px;

            h3 {
                display: block;
                background-color: white;
            }

            form {
                width: 80%;
                display: flex;
                flex-direction: column;

                .comment-name {
                    color: #1a53ff;
                    font-weight: bold;
                    font-size: 1em;
                }

                input,
                textarea {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    background-color: lightgray;
                    margin-bottom: 10px;
                    height: 25px;
                }

                button {
                    background-color: grey;
                    display: block;
                    width: 80px;
                    padding: 10px;
                    align-self: flex-end;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}


.comment-title {
    color: #1a53ff;
    font-weight: bold;
    margin-bottom: 10px;
}