.posts-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.headings {
    width: 100%;
    display: flex;
    gap: 30px;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #1aa3ff;
    padding: 15px;
}

.headings>div {
    width: 33%;
}

.post {
    width: 100%;
    display: flex;
    border: 1px solid black;
    border-bottom: none;

    &:nth-child(even) {
        background-color: bisque;
    }
}

.post>div {
    width: 33%;
    height: 150px;
    overflow: hidden;
}

.add-post {
    background-color: blue;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
}

.post-window {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #4da6ff;
    padding: 20px;

    input {
        width: 100%;
        border-radius: 10px;
        height: 40px;
        border: none;
        outline: none;
        margin-top: 10px;
    }

    .add {
        width: 50px;
        padding: 10px;
        background-color: red;
        color: #fff;
        border: none;
        outline: none;
    }
}