* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.active {
    background-color: red !important;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

button {
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}