.album {
    display: flex;
    width: 100%;
    display: flex;
    border-bottom: none;

    &:nth-child(odd) {
        background-color: #d1e0e0;
    }
}

.album-headings {
    width: 100%;
    display: flex;
    gap: 30px;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #1aa3ff;
    padding: 15px;
}

.album-headings>div {
    width: 33%;
}

.album>div {
    width: 33%;
    height: 100px;
    overflow: hidden;
    text-align: center;

}

.albums {
    display: flex;
    flex-direction: column;
    width: 100%;
}